$cod-gray-color: #1e1e1e;
$royal-blue-color: #3369f3;
$white-color: #ffffff;
$dusty-gray-color: #999999;
$alabaster-color: #fbfbfb;
$light-gallery-color: #efefef;
$red-color: #ff0000;
$hawkes-blue-color: #e4edfd;
$mercury-color: #e5e5e5;
$gallery-color: #eaeaea;

$small-border-radius: 8px;
$border-radius: 12px;

$animation-duration: 300ms;
