.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__block {
		font-size: 16px;
	}

	&__body {
		font-size: 16px;
	}

	&__footer {
		position: relative;
		top: 100%;

		display: flex;
		justify-content: center;
		margin: 60px 0 0;

		&_narrow {
			width: 280px;
			margin: 60px auto 0;
		}
	}

	&_row {
		display: block;
		width: 100%;
	}

	&_row &__body {
		display: flex;
		align-items: center;
	}
}
