@import "./helpers/variables";
@import "../components/Form/Form";
@import "../components/Button/Button";
@import "../components/Input/Input";
@import "./Page";
@import "../pages/Error/Error";
@import "../components/Avatar/Avatar";
@import "../components/FormInput/FormInput";
@import "../components/Link/Link";
@import "../components/Search/Search";
@import "../components/List/List";
@import "../components/UserList/UserList";
@import "../components/ChatListItem/ChatListItem";
@import "../components/Chat/Chat";
@import "../components/Message/Message";
@import "../components/Preloader/Preloader";
@import "../components/Modal/Modal";

body {
	box-sizing: border-box;
	margin: 0;

	line-height: 1;
	font-family: 'Padauk', sans-serif;
	color: $cod-gray-color;
}

a {
	color: $royal-blue-color;
	text-decoration: none;

	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}

h1 {
	margin: 0;

	line-height: 1;
}

button {
	padding: 0;

	background: none;
	border: none;
	cursor: pointer;
}

textarea,
input {
	font-family: 'Padauk', sans-serif;

	border: none;
}

.hidden {
	display: none;
}
