.page {
	display: flex;
	min-height: 100vh;

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		&_column {
			flex-direction: column;
		}

		&_form {
			display: block;
			width: 50%;
			margin: 30px auto;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;

		&_popup {
			width: 340px;
			min-height: 450px;
			padding: 50px 30px 10px;

			border-radius: $border-radius;
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
		}

		&_default {
			width: 50%;
		}
	}

	&__avatar {
		width: 130px;
		height: 130px;
		margin: 0 auto 21px auto;
	}

	&__title {
		margin: 0 0 40px;

		font-weight: 500;
		font-size: 20px;
		line-height: 1;
		text-align: center;
	}

	&__control {
		display: flex;
		flex: 0 0 64px;
		justify-content: center;
		align-items: center;
		min-height: 100%;

		background: $alabaster-color;
	}

	&__button {
		position: relative;

		width: 28px;
		height: 28px;

		background: $royal-blue-color;
		border-radius: 100%;
	}

	&__button-icon {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 11px;
		height: 10px;
		transform: translate(-50%, -50%);
	}

	&__sidebar {
		display: flex;
		flex-direction: column;
		width: 25vw;
		padding: 10px 0;

		background: $alabaster-color;
		border-right: 1px solid $light-gallery-color;
	}

	&_fixed {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
}
