doctype html

- let title = '';

block params

html
    head
        title #{title}
        meta(charset="utf-8")
        link(rel='stylesheet', href="/styles/main.scss")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap", rel="stylesheet")
        script(src='/js/index.js')
    body
        main
            -
                const user = {
                    _id: 15,
                    email: 'email',
                    first_name: 'first_name',
                    second_name: 'second_name',
                    display_name: 'display_name',
                    login: 'login',
                    phone: 'phone'
                };

            block content
