$text-color: #1e1e1e;
$main-color: #3369f3;
$light-color: #ffffff;
$mute-text-color: #999999;
$light-background-color: #fbfbfb;
$avatar-background-color: #efefef;
$bright-color: #ff0000;
$bright-background-color: #e4edfd;
$chat-background-color: #e5e5e5;
$line-color: #eaeaea;

$small-border-radius: 8px;
$border-radius: 12px;
