extends components/layout/layout

include components/formInput/formInput

block params
    - title = 'Изменить профиль';

block content
    .page
        .page__control
            include components/layout/backButton
            +backButton()
        .page__body

            form.form.page__form.page__form_default(onsubmit='window.saveChanges(this); return false;')
                .form__avatar
                    include components/avatar/avatar
                    +avatar('')

                .form__body
                    .list.list_line
                        +formInput({
                            classes: ['list__item'],
                            title: 'Почта',
                            value: user.email,
                            name: 'email'
                        })

                        +formInput({
                            classes: ['list__item'],
                            title: 'Логин',
                            value: user.login,
                            name: 'login'
                        })

                        +formInput({
                            classes: ['list__item'],
                            title: 'Имя',
                            value: user.first_name,
                            name: 'first_name'
                        })

                        +formInput({
                            classes: ['list__item'],
                            title: 'Фамилия',
                            value: user.second_name,
                            name:'second_name'
                        })

                        +formInput({
                            classes: ['list__item'],
                            title: 'Имя в чате',
                            value: user.display_name,
                            name: 'display_name'
                        })

                        +formInput({
                            classes: ['list__item'],
                            title: 'Телефон',
                            value: user.phone,
                            name: 'phone'
                        })

                .form__footer.form__footer_narrow
                    button.button.button_primary.button_stretch(type='submit') Сохранить
