extends components/layout/layout

block params
    - title = 'Ошибка';

block content
    - error = error || {code: 404, message: 'Не туда попали'};

    .page
        .page__body.page__body_column.error
            h1.error__code #{error.code}
            .error__message #{error.message}

            .error__link
                a(href='./chat.pug') Назад к чатам
