extends components/layout/layout

block params
    - title = 'Messenger';

block content
    .page
        .page__body.page__body_column
            h1 Messenger

            .page__form
                nav
                    ul.list
                        li.list__item
                            a.link(href='./login.pug') Страница авторизации
                        li.list__item
                            a.link(href='./signin.pug') Страница регистрации
                        li.list__item
                            a.link(href='./profile.pug') Профиль
                        li.list__item
                            a.link(href='./change_profile.pug') Изменить профиль
                        li.list__item
                            a.link(href='./change_password.pug') Изменить пароль
                        li.list__item
                            a.link(href='./chat.pug') Чат
                        li.list__item
                            a.link(href='./error.pug') Страница ошибки
