extends components/layout/layout

include components/input/input

block params
    - title = 'Регистрация';

block content
    .page
        .page__body
            form.form.page__form.page__form_popup(onsubmit='window.submitLoginForm(this); return false;')
                .form__body
                    h1.form__title Регистрация

                    .list
                        .list__item
                            +input({
                                label: 'Почта',
                                name: 'email',
                                type: 'email'
                            })

                        .list__item
                            +input({
                               label: 'Логин',
                               name: 'login',
                               type: 'text'
                           })

                        .list__item
                            +input({
                                label: 'Имя',
                                name: 'first_name',
                                type: 'text'
                            })

                        .list__item
                            +input({
                                label: 'Фамилия',
                                name: 'second_name',
                                type: 'text'
                            })

                        .list__item
                            +input({
                                label: 'Телефон',
                                name: 'phone',
                                type: 'phone'
                            })

                        .list__item
                            +input({
                                label: 'Пароль',
                                name: 'password',
                                type: 'password'
                            })

                        .list__item
                            +input({
                                label: 'Пароль (ещё раз)',
                                name: 'confirm_password',
                                type: 'password'
                            })

                .form__footer.list
                    .list__item
                        button.button.button_primary.button_stretch Зарегистрироваться
                    .list__item
                        a.link.button.button_stretch(href='./login.pug') Войти
