.button {
	display: block;
	padding: 1em;

	font-size: 13px;
	text-align: center;
	color: $main-color;
	text-decoration: none;

	background: none;
	border: none;
	border-radius: $small-border-radius;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}

	&_primary {
		color: $light-color;

		background: $main-color;
	}

	&_stretch {
		width: 100%;
	}
}
